.selectTable {
    display: table;
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;

    tbody {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
    }

    td {
        padding: 5px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: stretch;
        width: 100%;
    }

    .customButton {
        flex: none;
        flex-grow: 1;
        flex-shrink: 0;
        // font-size: clamp(12px, 2vw, 24px);
        font-weight: 600;
        margin: 5px;
        padding: 10px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        text-decoration: none;
        background: rgb(130, 130, 130);
        color: #fff;
        border-radius: 25px;
        outline: none;
        height: 50px;
        width: 100px;
        transition-duration: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: #f0f0f0;
            color: #333;
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: radial-gradient(circle, rgb(0, 255, 0) 10%, transparent 10%) no-repeat 50%;
            transform: scale(10, 10);
            opacity: 0;
            transition: transform 0.3s, opacity 2s;
        }

        &:active::after{
            transform: scale(0, 0);
            transition: 0s;
            opacity: 0.3;
        }
    }
}

@media(min-width: 420px){
    .selectTable {
        tbody {
            flex-wrap: nowrap;
        }
    }
}