.selectGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    row-gap: 10px;
    margin: 0 auto;

    @media (min-width: 481px){
        margin-bottom: 40px;
    }

    .customButton {
        font-weight: 600;
        margin: 5px;
        padding: 10px;
        cursor: pointer;
        position: relative;
        background: rgb(130, 130, 130);
        color: #fff;
        border-radius: 25px;
        outline: none;
        width: 100px;
        height: 50px;
        transition-duration: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: center;
        align-self: center;
        overflow: hidden;
        text-align: left;
        white-space: normal;
        word-break: break-word;

        &:hover {
            background-color: #f0f0f0;
            color: #333;
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            background: radial-gradient(circle, rgb(0, 255, 0) 10%, transparent 10%) no-repeat 50%;
            transform: scale(10, 10);
            opacity: 0;
            transition: transform 0.3s, opacity 2s;
        }

        &:active::after{
            transform: scale(0, 0);
            transition: 0s;
            opacity: 0.3;
        }

        &:nth-child(odd) {
            justify-self: end;
        }

        &:nth-child(even) {
            justify-self: start;
        }

        @media (min-width: 481px){
            width: 150px;
            height: 60px;
            padding: 20px 30px;
            margin: 10px;
        }
    }
}