.gameScreen {
    display: flex;
    flex-direction: column;
    height: 85vh;
    overflow-y: auto;
    justify-content: space-between;

    @media (min-width: 481px){
        height: 100vh;
    }

    .question {
        margin-top: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .characterImg {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 40vh;
            width: auto;
            object-fit: contain;
        }

        .characterName {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(210, 230, 250);
            font-size: 1.5rem;
            margin: 10px;
            padding: 5px 10px;
            max-width: 400px;
            min-width: 150px;
            height: auto;
            width: 80vw;
            line-height: 1;
        }

        .questionText {
            display: inline-flex;
            margin: 0;
            padding: 5px 10px;
            background-color: rgb(210, 230, 250);
        }
    }
}