@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

$gradientColorBlue: #1010ff;
$gradientColorRed : #ff1010;
$gradientColorPink: #ee10ff;

.topPage {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
        position: absolute;
        top: 0;
        background: linear-gradient(to right, $gradientColorBlue 20%, $gradientColorPink, $gradientColorRed 30%, $gradientColorRed 70%, $gradientColorPink, $gradientColorBlue 80%);
        background-size: 200% 100%;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
        color: transparent;
        animation: gradientAnimation 10s linear infinite;
        font-size: 7vh;
        z-index: 10;
        text-transform: capitalize;
        text-align: center;
        font-family: "DotGothic16", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 10vh;
        font-weight: bold;
    }

    .sk_img {
        position: absolute;
        height: 100vh;
        width: 100vw;
        background-color: aqua;

        p {
            font-size: 2rem;
            text-align: center;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    
    .startButton {
        position: absolute;
        bottom: 30px;
        display: inline-block;
        padding: 10px 20px;
        background: linear-gradient(to right, $gradientColorRed 20%, $gradientColorPink, $gradientColorBlue 30%, $gradientColorBlue 70%, $gradientColorPink, $gradientColorRed 80%);
        background-size: 200% 100%;
        color: white;
        animation: gradientAnimation 10s linear infinite;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        text-align: center;
        font-family: "DotGothic16", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 3vh;
        font-weight: bold;
        z-index: 10;
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 200% 0%;
    }
}

@keyframes reverseGradientAnimation {
    0% {
        background-position: 200% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}